<noscript>
    <div class="note">
        <header>
            <h2>This site (obviously) works best with JS enabled</h2>
            <h3>But it's not required.</h3>
        </header>

        <p>
            If you can read this &lt;noscript&gt; content, you have scripts disabled: thankfully,
            this site is not going to force you to turn it on just to see any content. Everything
            will work just fine, you can still read the text, navigate to sections, and see the
            graphics that are used to illustrate the concepts that individual sections talk about.
        </p>

        <p>
            <strong>However</strong>, a big part of this primer's experience is the fact that all
            graphics are interactive, and for that to work, HTML Custom Elements need to work,
            which requires Javascript to be enabled. If anything, you'll probably want to allow
            scripts to run just for this site, and keep blocking everything else (although that
            does mean you won't see comments, which use Disqus's comment syste, and you won't get
            convenient "share a link to the section you're reading right now" buttons, if that's
            something you like to do. You'll also be blocking my non-google pagehit tracker, which
            lets me see who's linking to the primer, which you probably don't care about, but lets
            me strike up conversations with folks who I would otherwise never know thought the
            primer was worth linking to, and I like talking to people who care enough to link)
        </p>
    </div>
</noscript>