<noscript>
    <div class="note">
        <header>
            <h2>This site (obviously) works best with JS enabled</h2>
            <h3>But it's not required.</h3>
        </header>

        <p>
            If you're reading this text block, then you have scripts disabled: thankfully, that's
            perfectly fine, and this site is not going to punish you for making smart choices
            around privacy and security in your browser. All the content will show  just fine,
            you can still read the text, navigate to sections, and see the graphics that are
            used to illustrate the concepts that individual sections talk about.
        </p>

        <p>
            <strong>However</strong>, a big part of this primer's experience is the fact that all
            graphics are interactive, and for that to work, HTML Custom Elements need to work,
            which requires Javascript to be enabled. If anything, you'll probably want to allow
            scripts to run just for this site, and keep blocking everything else. Although that
            does mean you won't see comments, which use Disqus's comment system, and you won't get
            convenient "share a link to the section you're reading right now" buttons, if that's
            something you like to do.
        </p>
    </div>
</noscript>