<style>
{% if locale == "en-GB" %}

    :root[lang="{{ locale }}"] {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

{% elif locale == "ja-JP" %}

    :root[lang="{{ locale }}"] {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15.6px;
    }

{% elif locale == "zh-CN" %}

    :root[lang="{{ locale }}"] {
        font-family: "华文细黑", "STXihei", "PingFang TC", "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "宋体", SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16.7px;
    }

{% elif locale == "kz-AU" %}

    @font-face {
        font-family: Roboto;
        src: url(./fonts/roboto-v20-latin-regular.woff) format("WOFF");
    }

    :root[lang="{{ locale }}"] {
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

{% else %}

    :root {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

{% endif %}
</style>
