<!-- And a slew of SEO related meta elements, because being discoverable is important -->
<meta name="description" content="{{ description }}" />

<!-- opengraph information -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="https://pomax.github.io/bezierinfo/images/og-image.png" />
<meta property="og:type" content="text" />
<meta property="og:url" content="https://pomax.github.io/bezierinfo{{ urlSuffix }}{{ filename }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:locale" content="{{ locale }}" />
<meta property="og:type" content="article" />
<meta property="og:published_time" content="{{ publishTime }}" />
<meta property="og:updated_time" content="{{ currentTime }}" />
<meta property="og:author" content="Mike 'Pomax' Kamermans" />
<meta property="og:section" content="Bézier Curves" />
<meta property="og:tag" content="Bézier Curves" />

<!-- twitter card information -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@TheRealPomax" />
<meta name="twitter:creator" content="@TheRealPomax" />
<meta name="twitter:image" content="https://pomax.github.io/bezierinfo/images/og-image.png" />
<meta name="twitter:url" content="https://pomax.github.io/bezierinfo{{ urlSuffix }}" />
<meta name="twitter:description" content="{{ description }}" />
