<div class="notforprint scl">
    <img src="images/icons.gif" usemap="#rhtimap" title="Share this on social media" />
    <map name="rhtimap">
        <area class="sclnk-rdt" shape="rect" coords="0, 0, 19, 15"
            href="https://www.reddit.com/submit?url=https://pomax.github.io/bezierinfo&title=A Primer on Bézier Curves&text=A free, online book for when you really need to know how to do Bézier things."
            alt="submit to reddit" title="submit to reddit">
        <area class="sclnk-hn" shape="rect" coords="0, 20, 19, 35"
            href="https://news.ycombinator.com/submitlink?u=https://pomax.github.io/bezierinfo&t=A Primer on Bézier Curves"
            alt="submit to hacker news" title="submit to hacker news">
        <area class="sclnk-twt" shape="rect" coords="0, 40, 19, 55"
            href="https://twitter.com/intent/tweet?hashtags=bezier,curves,maths&original_referer=https://pomax.github.io/bezierinfo&text=Reading “A Primer on Bezier Curves” by @TheRealPomax over on https://pomax.github.io/bezierinfo"
            alt="tweet your read" title="tweet your read">
    </map>
</div>

<script src="./js/site/social-updater.js" async defer></script>
