<!-- Because people probably want to share this article -->
<div class="notforprint scl">
    <img src="images/icons.gif" usemap="#rhtimap" title="Share this on social media" />
    <map name="rhtimap">
        <area class="sclnk-rdt" shape="rect" coords="0, 0, 19, 15"
            href="https://www.reddit.com/submit?url=https://pomax.github.io/bezierinfo/news/{{ filename }}&title==A Primer on Bézier Curves - {{ title }}&text=An update about the Primer on Bézier curves."
            alt="submit to reddit" title="submit to reddit">
        <area class="sclnk-hn" shape="rect" coords="0, 20, 19, 35"
            href="https://news.ycombinator.com/submitlink?u=https://pomax.github.io/bezierinfo/news/{{ filename }}&t=A Primer on Bézier Curves - {{ title }}"
            alt="submit to hacker news" title="submit to hacker news">
        <area class="sclnk-twt" shape="rect" coords="0, 40, 19, 55"
            href="https://twitter.com/intent/tweet?hashtags=bezier,curves,maths&original_referer=https://pomax.github.io/bezierinfo&text=Reading “{{ title }}” by @TheRealPomax over on https://pomax.github.io/bezierinfo/news/{{ filename }}"
            alt="tweet your read" title="tweet your read">
    </map>
</div>
