html, body {
  font-family: Verdana;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/paper.png');
}

header, section, footer {
  width: 960px;
  margin: 0 auto;
}

header {
  font-family: Times;

  text-align: center;
  h1 {
    font-size: 360%;
    margin: 0;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 125%;
    margin: 0;
  }
  margin-bottom: 2rem;
}

article {
  font-family: Verdana;

  width: 960px;
  height: auto;
  margin: auto;
  background: rgba(255, 255, 255, 0.74);
  border: solid rgba(255, 0, 0, 0.35);
  border-width: 0;
  border-left-width: 1px;
  padding: 1em;
  box-shadow: 25px 0px 25px 25px rgba(255, 255, 255, 0.74);
}

a, a:visited { color: rgb(0,0,200); text-decoration: none; }

footer {
  font-style: italic;
  margin: 2em 0 1em 0;
  background: inherit;
}

@import "ribbon.less";
@import "navigation.less";
@import "section.less";
@import "howtocode.less";
@import "figure.less";
@import "github-issues.less";
@import "latex.less";
